@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", serif;
}
body {
  background-image: url("./assets/bg.png");
  background-size: cover;
  background-repeat: repeat-y;
}
/* shared style  */
.raleway {
  font-family: "Raleway", serif;
}

.bg-orange {
  background-color: #fea301;
}
.bg-black {
  background-color: #111111;
}
.bg-skyblue {
  background-color: #01acfd;
}
.bg-white {
  background-color: #f7f7f7;
}
.text-black {
  color: #111111;
}
.text-orange {
  color: #fea301;
}
.text-skyblue {
  color: #01acfd;
}

.btn {
  color: #fff;
  border: none;
  padding: 10px 35px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  color: black;
}

/* header style */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu > svg {
  width: 30px;
  display: none;
}
.logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.logo > img {
  width: 40px;
}
.logo h1 {
  font-size: 2rem;
  font-weight: 700;
}
.menu > nav li {
  list-style: none;
  display: flex;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s ease;
}
.menu > nav li:hover {
  background-color: rgba(17, 186, 48, 0.1);
}
.menu > nav ul {
  display: flex;
  gap: 20px;
}
.menu > nav li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}
.menu > nav ul > li:first-child a {
  color: #fea301;
}
.menu > nav ul > li:nth-child(2) a {
  color: #01acfd;
}
.menu > nav ul > li:nth-child(3) a {
  color: #05d4df;
}
.menu > nav ul > li:last-child a {
  color: #5d58ef;
}
/* hero style  */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: white;
}
.hero-image > img {
  width: calc(100% - 60px);
  object-fit: cover;
  padding: 40px;
}
.hero-section > div {
  width: 50%;
}
.hero-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: justify;
  margin-bottom: 20px;
}
.hero-dec {
  font-family: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Standard Curriculum style  */
.curriculum-boxs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.curriculum-box {
  width: calc(100% - 30px);
  text-align: center;
  padding: 50px 20px;
  border: 1px solid firebrick;
  border-radius: 10px;
}
.curriculum-box:first-child {
  background: linear-gradient(#def5ff 0%, hsla(0, 0%, 100%, 0.403) 100%);
}
.curriculum-box:nth-child(2) {
  background: linear-gradient(#fff4dc 0%, hsla(0, 0%, 100%, 0.403) 100%);
}
.curriculum-box:last-child {
  background: linear-gradient(#eee1ff 0%, hsla(0, 0%, 100%, 0.403) 100%);
}

.curriculum-box > h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 30px 0;
}
.curriculum-box > p {
  font-size: 1rem;
  color: #808080;
  font-weight: 500;
  margin-bottom: 30px;
  font-family: "Raleway", serif;
}
.curriculum-box > a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
}
.curriculum-box > a:hover {
  background-color: rgba(17, 186, 48, 0.2);
}
.slide-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  gap: 20px;
}
.slide-btn > button {
  background-color: #fea301;
  border: none;
  padding: 20px 35px;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.slide-btn > button:hover {
  background-color: #05d4df;
}
/* media query style */
@media screen and (max-width: 576px) {
  .logo > h1,
  .menu > nav,
  .menu > button,
  .br,
  .slide-btn {
    display: none;
  }
  .menu > svg {
    display: block;
  }
  .hero-section {
    flex-direction: column-reverse;
  }
  .hero-section > div {
    width: 100%;
  }

  .hero-text,
  .hero-title {
    text-align: center;
  }
  .curriculum-boxs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-top: 30px;
  }
}
